@page
@model Project_DB.Pages.PaymentModel
@using System
@{
    DateTime currentTime = DateTime.Now;
}

<br>
<br>
<br>
<br>
<br>

<head>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body p-0">
                    <br />
                    <p class="font-weight-bold mb-1">&nbsp;&nbsp;&nbsp;&nbsp;Invoice @Model.result2</p>
                    <p class="text-muted">&nbsp;&nbsp;&nbsp;&nbsp;Due to: @DateTime.Now</p>

                    <hr class="my-5">

                    <div class="row pb-5 p-5">

                        <div class="col-md-6">
                            <p class="font-weight-bold mb-4">Client Information</p>
                            <span class="text-muted">Name: </span> @Model.name</p>
                            <span class="text-muted">Address: </span> @Model.address</p>
                            <span class="text-muted">Appartement num: </span> @Model.appartement</p>
                            <span class="text-muted">Phone num: </span> @Model.phone</p>
                        </div>

                        <div class="col-md-6 text-right">
                            <p class="font-weight-bold mb-4">Payment Details</p>
                            <p class="mb-1"><span class="text-muted">Payment Type: </span> Cash</p>
                            <p class="mb-1"><span class="text-muted">Name: </span> @Model.name</p>
                        </div>
                    </div>

                    <div class="row p-5">
                        <div class="col-md-12">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="border-0 text-uppercase small font-weight-bold">Item</th>
                                        @*<th class="border-0 text-uppercase small font-weight-bold">Quantity</th>*@
                                        @*<th class="border-0 text-uppercase small font-weight-bold">Unit Cost</th>*@
                                        <th class="border-0 text-uppercase small font-weight-bold">Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{for (int i = 0; i < @Model.Mealcount; i++)
        {
                                    <tr>
                                         <td>@Model.Meal_name[i]</td>

                                                <td>@Model.prices[i] EGP</td>
                                    </tr>
                                        }
                                    }
                                    <hr />
                                    <tr>
                                        <td>Shiping</td>

                                        <td>@Model.shiping EGP</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="d-flex flex-row-reverse bg-dark text-white p-4">
                        <div class="py-3 px-5 text-right">
                            <div class="mb-2">Grand Total</div>
                            <div class="h2 font-weight-light">@Model.total EGP</div>
                        </div>

                        <div class="py-3 px-5 text-right">
                            <div class="mb-2">Discount</div>
                            <div class="h2 font-weight-light">@Model.discount2%</div>
                        </div>

                        <div class="py-3 px-5 text-right">
                            <div class="mb-2">Sub - Total amount</div>
                            
                            <div class="h2 font-weight-light">@Model.total_price EGP</div>
                        </div>
                        <form method="post">
                            <button type="submit">print</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="text-light mt-5 mb-5 text-center small">by : <a class="text-light" target="_blank" href="http://totoprayogo.com">totoprayogo.com</a></div>

</div>


