@page
@model Project_DB.Pages.signupModel
@{
}
<@* style>
    /* Optional: You can define the font globally in the stylesheet */
    h1 {
        font-family: 'Brush Script MT', cursive;
        font-size: 4em;
    }
</style> *@
<header id="header" class="header fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

        <a class="nav-link text-dark" asp-area="" asp-page="/Index">
            <h1>Set Elkol</h1>
        </a>

        <nav id="navbar" class="navbar">
 
        </nav><!-- .navbar -->

        <div class="btn-group" role="group" aria-label="Basic outlined example">
            <a class="btn btn-danger" asp-area="" asp-page="/signin">Sign In</a>
            <a class="btn btn-warning">Sign Up</a>
        </div>

    </div>
</header>
<body id="book-a-table" class="book-a-table">
    <br>
    <br>
    <br>
    <br>
    @if (TempData.ContainsKey("ErrorMessage"))
    {
        <div class="alert alert-danger" role="alert">
            @TempData["ErrorMessage"]
        </div>
    }
    <div class="container">

        <div class="section-header">
            <h2>Sign Up</h2>
            <p>Order<span> Your Food</span> With Us</p>
        </div>

        <div class="row g-0 ">


            <form  method="post" >
                <div class="row gy-4">
                    <div class="col-lg-4 col-md-6">
                        <div class="input-group flex-nowrap">
                          <span class="input-group-text" id="addon-wrapping">@@</span>
                           <input type="TEXT" class="form-control" id="UserName" placeholder="UserName" data-rule="UserName" asp-for="@Model.personinfo.UserName">

                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <input type="Email" class="form-control" id="Email" placeholder="Email" data-rule="Email" asp-for="@Model.personinfo.Email">


                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="input-group flex-nowrap">
                            <span class="input-group-text" id="addon-wrapping">+20</span>
                            <input type="text" asp-for="@Model.personinfo.Phone_Number" class="form-control" placeholder="Phone Number" aria-label="Username" aria-describedby="addon-wrapping" >

                        </div>
                        <div class="validate"></div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <input type="text" asp-for="@Model.personinfo.User_Password" class="form-control" id="User_Password" placeholder="User_Password" >

                    </div>



                    <div class="col-lg-4 col-md-6"> 
                        <select name="user_type" class="form-control">
                            <option value="">Select User Type</option>
                            <option value="Cooker">Cooker</option>
                            <option value="Customer">Customer</option>
                            <option value="Driver">Driver</option>
                        </select>
                    </div>


                    <style>
                        .btngreen {
                            background-color: #E34234; 
                            border: none;
                            color: white;
                            padding: 10px 20px;
                            text-align: center;
                            text-decoration: none;
                            display: inline-block;
                            font-size: 16px;
                            border-radius: 20px;
                        }
                    </style>

                    <button class="btngreen btn-success" type="submit">Sign Up</button>
            </form>
        </div><!-- End Reservation Form -->

    </div>


    <br>
    <br>
</body>