@page
@model Project_DB.Pages.signupModel
@{
}
<body id="book-a-table" class="book-a-table">
    <br>
    <br>
    <br>
    <br>
    <div class="container" data-aos="fade-up ">

        <div class="section-header">
            <h2>Sign In</h2>
            <p>Order<span> Your Food</span> With Us</p>
        </div>

        <div class="row g-0 ">


            <form  method="post" role="form" data-aos="fade-up" data-aos-delay="100">
                <div class="row gy-4">
                    <div class="col-lg-4 col-md-6">
                        <div class="input-group flex-nowrap">
                          <span class="input-group-text" id="addon-wrapping">@@</span>
                            <input type="text" class="form-control" placeholder="UserName" aria-label="UserName" aria-describedby="addon-wrapping" name="UserName" value="@Model.personinfo.UserName">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <input type="Email" class="form-control" name="Email" id="Email" placeholder="Your Email" data-rule="Email" data-msg="Please enter a valid email" value="@Model.personinfo.Email">
                        <div class="validate"></div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="input-group flex-nowrap">
                            <span class="input-group-text" id="addon-wrapping">+20</span>
                            <input type="text" name="Phone_Number" value="@Model.personinfo.Phone_Number" class="form-control" placeholder="Phone Number" aria-label="Username" aria-describedby="addon-wrapping" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
                        </div>
                        <div class="validate"></div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <input type="text" name="User_Password" value="@Model.personinfo.User_Password" class="form-control" id="User_Password" placeholder="User_Password" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
                        <div class="validate"></div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <input type="text" name="User_Type" value="@Model.personinfo.User_Type" class="form-control" id="User_Type" placeholder="User_Type" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
                        <div class="validate"></div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <input type="text" name="Birthdate" value="@Model.personinfo.Birthdate" class="form-control" id="Birthdate" placeholder="Your Birthdate" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
                        <div class="validate"></div>
                    </div>

                    <a class="text-center" asp-area="" asp-page="/Home"><button type="submit">Sign In</button></a>
            </form>
        </div><!-- End Reservation Form -->

    </div>


    <br>
    <br>
</body>